.sub-titulo {
    font-size: 0.9em !important;
}

// BARRA INICIAL
.arrow {
    max-width: 0.75em;
}

.secao-inicial {
    background: #edf0f4;
}

.descricao-ajustada {
    max-width: 100%;
    text-align: justify;

    @media (min-width: 576px) {
        max-width:75%;
    }
}

.custom-position-title {
    position: relative;

    @media (min-width: 576px) {
        left: -19px;
    }
}

.breadcrumb {
    display: flex;
    font-size: 0.8em;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #ffffff00;
    border-radius: 0;
}
// SCROLLBAR TIMELINE
.container-timeline {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #edf0f4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4c4c6a;
}

.progress {
    border-radius: 13px;
    height: 8px;
    min-width: 8em;
    margin: 0;
    left: -1.1em;
    position: relative;
}

h6{
    padding: 0;
    margin: 0;
}

a:hover{
    cursor:pointer;
}

.custom-risk {
    position: relative;
    bottom: 4px;
}