.titulo {
    font-size: 1.9rem;
}

.sub-titulo {
    font-size: 0.9em !important;
}

.arrow {
    max-width: .75em;
    color: black;
}

.top-page-container {
    height: 75%;
    background-color: #edf0f4;
}

.texto-rota {
   color: black;
}

.status-contrato-badge {
  background-color: #218c74;
  color: white;
}

.status-contrato-div {
  padding-left: .3cm;
}

.risco-contrato-badge {
  background-color: #f95253;
  color: white;
}

.risco-contrato-div {
  padding-left: .10cm;
}

.cor-fonte-azul {
  color: #42427B;
}
