<div class="container view-container">
     
    <h4 class="mb-4">Licitações</h4>

    <table class="table" [hidden]="licitacoes.length == 0 ">
      <thead>
        <tr>
          <th scope="col">Objeto da licitação</th>
          <th
            scope="col"
            class="text-center">
            Nº Licitação
          </th>
          <th
            scope="col"
            class="text-center">
            Valor
          </th>
          
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let licitacao of licitacoes | paginate: { itemsPerPage: contador, currentPage: pag }; let i = index">
          <td>
            {{ licitacao.de_obs | uppercase }}
          </td>
          <td class="text-center">
            {{ licitacao.nu_licitacao  }}
          </td>
          <td class="text-center">
            {{ licitacao.vl_licitacao | currency:"BRL"  }}
          </td>
          <td class="text-center">
            <a
            routerLink="/"
            class="btn btn-sm btn-primary">
            <span class="icon-arrow-right"></span>
            Ver detalhes
          </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class = "row d-flex justify-content-center">
    <div 
        class="my-pagination col-md-7">
        <pagination-controls 
            (pageChange)="pag = $event" 
            previousLabel="Anterior"
            nextLabel="Próximo"
            autoHide="true">
        </pagination-controls>
    </div>
</div>


<div class="mt-3" *ngIf="licitacoes.length === 0">
    <p> <strong> Nenhuma licitação no momento. </strong> </p>
</div>