<div class="container view-container row d-flex justify-content-center">
  <h5 class="mt-5 pt-5" [hidden]="licitacoes?.length > 0 || isLoading">Não há licitações neste momento.</h5>
</div>

<div class="view-container pb-5 pt-5">
  <div class="card col-12"
    *ngFor="let licitacao of licitacoes | paginate: { itemsPerPage: contador, currentPage: pag }; let i = index">
    <div class="card-body" [routerLink]="['/licitacao/' + licitacao.id_licitacao]">
      <div class="row">
        <div class="col-sm-1">
          <small class="text-secondary">
              <p class="custom-line-height">Nº
                {{ licitacao.nu_licitacao | formatNumContrato: 'newline'}}</p>
            </small>
        </div>

        <div class="col-sm-5  mx-auto my-auto">
          <p class="text-warning  mb-1">{{ licitacao.de_obs | formatNomeEmpresa}}</p>
        </div>

         <div class="col-sm-4  mx-auto my-auto">	
          <h6 class="text-secondary mb-1 pt-2 pt-sm-0"><strong>{{ licitacao.de_ugestora}}</strong></h6>	
        </div>

        <div class="col-sm-2 mx-auto my-auto pb-3 pb-sm-0 pt-2 pt-sm-0">
          <h5 class="text-warning"><strong> {{ licitacao.vl_licitacao | currency:"BRL"  }}</strong></h5>
          <span class="text-secondary">Licitado</span>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <loading-spinner class="mt-2" *ngIf="isLoading"></loading-spinner>
</div>

<div class="row d-flex mr-0 mr-sm-1 justify-content-center">
  <div class="my-pagination text-center col-md-7">
    <pagination-controls (pageChange)="pag = $event" previousLabel="Anterior" nextLabel="Próximo" autoHide="true">
    </pagination-controls>
  </div>
</div>
