<div class="container sobre-container">

    <h1 class="sr-only">Sobre</h1>
  
    
    <section class="sessao-texto sessao-light">
        <h2 class="text-center mt-5 mb-3"><strong>Monitor Cidadão</strong></h2>
        
        <div class="mr-5 ml-5  mb-5">
            <p>
                O Monitor Cidadão é um sistema desenvolvido através da parceria entre a CampinaTec e o laboratório Analytics da Universidade Federal de Campina Grande-PB com finalidade possibilitar aos cidadãos o acompanhamento dos contratos realizados pelos municípios do estado da Paraíba.
            </p>
        </div>
        
      </section>
  
    <section class="sessao-texto sessao-light">
      <h2 class="text-center mt-1 mb-3"><strong>Parceiros</strong></h2>
      
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <img src="assets/imgs/analytcs.png" alt="Analytcs" width="100%">
        </div>
        <div class="col col-lg-2">
          <img src="assets/imgs/campinaTec.jpeg" alt="CampinaTec" width="100%">
        </div>
      </div>
    </section>
    
  </div>