.sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sessao-light {
    border-radius: 10px;
    margin: auto;
    width: 60%;
    border: 1px dotted #42427b5e;
}

@media only screen and (max-width: 500px) {
    .sessao-light {
        width: 100%;
    }
}

img {
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
    }
}
