.sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}

.box{
    color: #f38944;
    font-weight: 800;
    font-size: 1.5em;
    font-weight: bolder;
}

.sessao-light{
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: white;
    border-radius: 10px;
    max-width: 70%;
    margin: auto;

}

.sessao-texto{
    margin-top: 2rem;

}
.title{
    color: red;
}