<div class="container view-container">
    <h2 class="mb-4 mt-1">{{municipioEscolhido?.no_municipio}}</h2>
  
    <div class="licitacoes-detalhar-nav">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./licitacoes']"
            routerLinkActive="active">
            <strong>Licitações</strong> 
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['./contratos']"
            routerLinkActive="active">
          <strong>Contratos</strong>
          </a>
        </li>
      </ul>
    </div>
  
    <router-outlet></router-outlet>
  </div>