<ng-template #rt let-r="result" let-t="term">
  <i *ngIf="r?.tipoBusca=='MUNICIPIO'" class="fas fa-city mr-2"></i>
  <i *ngIf="r?.tipoBusca=='CONTRATO'" class="fas fa-search mr-2"></i>
  <span *ngIf="r?.tipoBusca=='CONTRATO'" > Buscar <strong>contratos</strong> com o termo "</span>
  <ngb-highlight class= "custom-description lr-1" [result]="r?.descricao" [term]="t"></ngb-highlight>
  <small *ngIf="r?.tipoBusca=='MUNICIPIO'">, 
    <span *ngIf="r?.uf=='25'">PB</span>
    <span *ngIf="r?.uf=='43'">RS</span>
  </small>
  <span *ngIf="r?.tipoBusca=='CONTRATO'">"</span>
  <hr *ngIf="r?.tipoBusca=='CONTRATO'">
</ng-template>



<div class="input-group">
  <input id="typeahead-prevent-manual-entry" 
  [(ngModel)]="modelBusca" 
  type="text" 
  class="form-control" 
  [ngbTypeahead]="search"
  [inputFormatter]="formatter" 
  [resultFormatter]="formatter" 
  [editable]='false' 
  [resultTemplate]="rt"
  placeholder="Busque aqui por um contrato ou município" 
  (selectItem)="selecionaBuscavel($event.item)" />

</div>
