// 
// LISTAGEM DO AUTO-COMPLETE
// 
::ng-deep.dropdown-menu.show {
  width:100%;
  overflow-y: auto;
  border-radius: 15px;
  overflow-x: hidden;

  @media (min-width: 576px) {
    min-width: 27em;
  }
}

hr {
  max-width: 94%;
    position: relative;
    top: 4px;
}

strong {
  font-weight: 900;
}

::ng-deep.dropdown-item {
  display: block;
  left:-10px;
  width:110%;
  position: relative;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 300;
  color: #6b6b6b;
  text-align: inherit;
  font-family: 'Ubuntu', sans-serif; 
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

// 
// INPUT DA BUSCA
// 
input {
  min-height: 2.5em;
  background: #f19638;
  color:white;
  border: 1px solid #f19638;

  &:hover {
    box-shadow: 1px 1px 6px #84817a !important;
  }
}

::placeholder {
  color: white;
  opacity: 1;
}

.input-group {
  background: white !important;
}

