.relatorio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    text-align:justify
}

.tamanho-relatorio {
    max-width: 80% !important;
}

.link-voltar {
    font-size: 1.4em;
    cursor: pointer;
    width: 11%;
}

.link-voltar:hover {
    font-weight: bold;
}
