.navbar {
    box-shadow: 0px 3px #cf6b41;

    .navbar-logo {
        margin-right: 0.3rem !important;
        text-decoration: none;
    }
}

.btn-buscar {
    position: relative;
    z-index: 1000;
    right: 5px;
}
