<div class="secao-inicial view-container">
    <div class="container pt-5"></div>
    <div class="container custom-position-title">
        <div class="row">
            <div>
                <h2 class="text-info">
                    <a [routerLink]="['/home']">
                        <i class="fas fa-arrow-left arrow text-warning"></i>
                    </a>
                    Contratos de Maior Risco da Paraíba
                </h2>
            </div>
        </div>
    </div>
    <div class="container pt-5"></div>
</div>

<div *ngIf="!isLoading" class="container view-container pb-6 mt-4">
    <div class="card col-12" *ngFor="let contrato of contratos | paginate: { itemsPerPage: contador, currentPage: pag }; let i = index;">
        <div class="card-body" [routerLink]="['/contrato/' + contrato.id_contrato]">
            
            <div class="row">
                
                <div class="col-sm-6  mx-auto">
                    <strong class="text-warning">Descrição: </strong>
                    <span *ngIf="!contrato.de_obs; else elseBlock1" class="mb-3 text-warning text-justify">Nenhuma descrição foi cadastrada para este contrato.</span>
                    <ng-template #elseBlock1>
                        <div class="mb-3 text-warning text-justify" [innerHTML]="contrato.de_obs | formatFirstLetterCapitalize">
                        </div>
                    </ng-template> 
                </div>
                    
                <div class="col-sm-2 mx-auto my-auto">
                    <small class="text-secondary"> Realizado em {{contrato.dt_ano}}</small>
                    <h6 class="text-secondary"><strong>{{contrato.de_ugestora}}</strong></h6>
                </div>
                <div class="col-sm-2 my-auto mx-auto">
                    <h5 class="text-warning text-capitalize mt-3 mt-sm-0"><strong class="custom-value">{{ contrato.vl_total_contrato | currency: "R$" }}</strong></h5>
                    <div class="row">
                        <span class="text-secondary ml-3">Contratado</span>
                        
                    </div>
                </div>

                <div class="col-sm-1 my-auto">
                    <div class="progress custom-progress text-left mt-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" 
                        role="progressbar" 
                        [style.width.%]="getRisco (contrato)" 
                        [ngClass]="{
                            'bg-danger' : getRisco (contrato) >= 75,
                            'bg-warnning' : getRisco (contrato) >= 50,
                            'bg-success' : getRisco (contrato) < 50
                            }"
                        aria-valuenow="0" 
                        aria-valuemin="0" 
                        aria-valuemax="100"></div>
                    </div>
                    <span class="text-secondary">Risco</span>
                    <i *ngIf="getRisco(contrato) != -1; else elseBlock2" class="text-secondary fa fa-info-circle ml-1" data-toggle="tooltip" data-placement="top" title="{{ getRisco(contrato) }}% de chances de rompimento">
                    </i>
                    <ng-template #elseBlock2>
                        <i class="text-secondary fa fa-info-circle ml-1" data-toggle="tooltip" data-placement="top" title="Não há risco associado"></i>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLoading" class="row d-flex mt-4 mr-0 mr-sm-1 justify-content-center">
    <div class="my-pagination text-center col-md-7">
        <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Próximo"
            autoHide="true">
        </pagination-controls>
    </div>
</div>