
::ng-deep.dropdown-menu.show {
  width: 100%;;
  overflow-y: auto;
}

input {
  min-height: 2.5em;
  background: #f08856;
  color:white;
  border: 1px solid #f08856;
}

::placeholder {
  color: white;
  opacity: 1;
}




