.navbar-brand {
    font-weight:lighter;
    font-size: 1.5em;
    color: 	#42427b;
}

.navbar{
    box-shadow: 0px 3px #cf6b41;
}
.page-footer{
    margin-top: 100px;
    background-color: #2c2b54;
    color: #f7f8f9;
}

.text-copyright{
    font-size: 5;
}
.teal{
    background-color:#94524c;
    width: 180px;
    height: 2px;
}

ul.list-unstyled{
    color: white;
}
a{
    color: white
}
.navbar-light .navbar-nav .nav-link {
    color: #d06a3f;
}
