// 
// NAV BAR
// 
.navbar {
    box-shadow: 0px 3px #cf6b41;

    .navbar-logo {
        color: #42427b;
        margin-right: 0.3rem !important;
        text-decoration: none;
    }
}

.btn-buscar {
    position: relative;
    z-index: 1000;
    right: 5px;
}

#work-area {
    min-height: calc(40vh);
}

// 
// FOOTER
// 
.page-footer {
    background-color: #2c2b54;
    color: hsl(210, 14%, 97%);
    min-height: 170px;
    width: 100%;
    margin-top: 6%;
}

.teal-footer {
    background-color: #d2784d;
    width: 13em;
    height: 2px;
}

.text-muted:hover {
    cursor: not-allowed;
    text-decoration: none;
}
