<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light py-2">
    <div class="container">
        <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()">
      <span class="icon-menu"></span>
    </button>
        <a class="navbar-brand" href="#">MONITOR CIDADÃO</a>
        <p class="small text-muted">alpha</p>
        <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbarPrincipal" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarPrincipal" [ngbCollapse]="!isCollapsed">
            
            
            <ul class="navbar-nav ml-auto">
                <button class="btn btn-dark my-2 my-sm-0 mr-4" (click)="alteraVisibilidadeBusca()"type="submit"> <i class="fas fa-search"></i> Busque por um município</button>
                <li class="nav-item">
                    <a class="nav-link" href="relatorios">Relatórios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre">Sobre</a>
                </li>
            </ul>
            
        </div>
    
    </div>
</nav>


<app-barra-busca [mostrarBusca]="mostrarBusca"></app-barra-busca>

<router-outlet></router-outlet>

<footer class="page-footer">
    <div class="container container-fluid text-center text-md-left">
      <div class="row">
          <div class="col-md-4 mt-5 ">
              <div class="">
                <h5 class="text-uppercase mt-2 mb-1"><strong> MONITOR CIDADÃO</strong></h5>
                <hr class="teal accent-1 mt-0 d-inline-block mx-auto">
                <p class="text-copyright pt-0">© 2020 
                  <a href="#">Monitor Cidadão</a>
                </p>
              </div>
          </div>
        
        <div class="col-md-4 mt-4 pl-4">
            <ul class="list-unstyled mt-4">
              <li>
                <a href="/sobre">O que é o Monitor Cidadão?</a>
              </li>
              <li>
                <a href="#!">Análises descritivas</a>
              </li>
              <li>
                <a href="#!">Risco contratual</a>
              </li>
          </ul>
        </div>
      </div>
        
          <div class="mb-2  ">
            <div class="col-auto text-right mt-4 pb-4">
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-github white-text mr-4"> </i>
              </a>
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f white-text"> </i>
              </a>         
          </div>
        </div>
      </div>
  </footer>
