<div class="container view-container" *ngIf="!isLoading">
    <div class="float-right mt-4 mb-3">
        <div class="custom-control custom-switch">
            <input type="checkbox"
            class="custom-control-input"
            [(ngModel)]="isCheckedVigentes"
            [ngModelOptions]="{standalone: true}"
            (change)="clickSwitchVigentes($event)"
            id="customSwitches">
            <label class="custom-control-label text-info"
                    for="customSwitches">
                <strong>Vigentes</strong>
                <i class=" ml-2 text-secondary"
                data-toggle="tooltip"
                data-placement="top"
                title="Todos aqueles posteriores à 01/01/2019"></i>
            </label>
        </div>
    </div>
</div>


<div class="container view-container row d-flex justify-content-center">
    <h5 class="mt-5 pt-5" [hidden]="contratosFiltrados?.length > 0 || isLoading">Não há contratos neste momento.</h5>
</div>


<div class="view-container pb-5">
    <div class="card col-12" *ngFor="let contrato of contratosFiltrados| paginate: { itemsPerPage: contador, currentPage: pag }; let i = index;">
        <app-card-contrato [contrato] = "contrato"></app-card-contrato>
    </div>
</div>

<div class="d-flex justify-content-center">
    <loading-spinner class="mt-2" *ngIf="isLoading"></loading-spinner>
</div>

<div class="row d-flex mr-0 mr-sm-1 justify-content-center">
    <div class="my-pagination text-center col-md-7">
      <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Próximo" autoHide="true">
      </pagination-controls>
    </div>
  </div>
