
//Paginacao
::ng-deep .my-pagination .ngx-pagination .current {
  background: #1e4354;
}

.custom-line-height {
  line-height: 1.4;
}

.custom-progress {
  height: 18px;
}

.my-pagination{
  padding-bottom: 32px;
}

.custom-value {
  white-space: nowrap;
}