
<footer class="page-footer">
    <div class="container container-fluid text-center text-md-left">
      <div class="row">
  
        <div class="col mt-5 h-50 " >
          <h5 class="text-uppercase"><strong> MONITOR CIDADÃO</strong></h5>
          <hr class="teal-footer accent-1 d-inline-block">
          <p class="text-light">© 2020
            <a class="text-light" href="/home">Monitor Cidadão</a>
          </p>
        </div>
  
        <div class="col-md-4 mt-3 pl-4">
          <ul class="list-unstyled mt-4">
            <li class="li-footer">
              <a class="mt-2 text-light" href="/sobre">O que é o Monitor Cidadão?</a>
            </li>
            <li class="mt-2 li-footer">
              <a class="text-light" href="/relatorios">Análises descritivas</a>
            </li>
            <li class="mt-2 li-footer">
              <a  class ="text-muted" data-toggle="tooltip" data-placement="right" title="Em desenvolvimento...">Risco contratual</a>
            </li>
          </ul>
        </div>
  
        <div class="col mt-3">
          <div class="col-auto text-center text-md-right mt-4">
            <!-- Github do projeto -->
            <a target="_blank" href="https://github.com/analytics-ufcg/monitor-cidadao" class="tw-ic">
              <i class="fab fa-github white-text mr-4 text-light"> </i>
            </a>
            <!-- Facebook -->
            <a target="_blank" href="https://www.facebook.com/analytics.ufcg/" class="fb-ic">
              <i class="fab fa-facebook-f white-text text-light"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>