<div class="secao-inicial view-container">
    <div class="container pt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-info" href="/home">Paraíba</a></li>
                <li class="breadcrumb-item"><a class="text-info"
                        href="/municipios/licitacoes">{{municipioEscolhido?.no_municipio}}</a></li>
                <li class="breadcrumb-item"><a class="text-info" href="/municipios/licitacoes">Licitações</a></li>
            </ol>
        </nav>
    </div>
    <div class="container custom-position-title">
        <div class="row">
            <div>
                <h2 class="text-info">
                    <a [routerLink]="['/municipios/licitacoes']">
                        <i class="fas fa-arrow-left arrow text-warning"></i>
                    </a>
                    Licitação <strong>{{licitacao?.nu_licitacao | formatNumContrato}}</strong>
                </h2>
            </div>
            <div>
                <h5 class="ml-4 mt-1">
                    <span [hidden]="licitacao?.dt_homologacao" class="badge badge-success status-licitacao">
                        Licitação aberta
                    </span>
                    <span [hidden]="!licitacao?.dt_homologacao" class="badge badge-danger status-licitacao">
                        Licitação encerrada
                    </span>
                </h5>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="d-flex flex-column">
            <div><strong class="text-info mb-0 pb-0 mb-sm-6 pb-sm-4">Descrição</strong></div>
            <div class="descricao-ajustada pt-2 pb-4 text-warning">{{ licitacao?.de_obs  }}</div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <strong><span class="text-warning">Valor Homologado</span></strong>
            <p class="text-warning mt-1">{{ licitacao?.vl_licitacao | currency: "R$" }}</p>
        </div>
        <div class="col-sm-4">
            <strong><span class="text-warning">Modalidade</span></strong>
            <p class="text-warning mt-1">{{ licitacao?.de_tipo_licitacao }}</p>
        </div>
        <div class="col-sm-4">
            <strong><span class="text-warning">Nº de Participantes</span></strong>
            <p class="text-warning mt-1">{{licitacao?.nu_propostas}}</p>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-sm-4">
            <strong><span class="text-warning">Unidade Gestora</span></strong>
            <p class="text-warning mt-1">{{licitacao?.de_ugestora}}</p>
        </div>
        <div class="col-sm-4">
            <strong><span class="text-warning">Nº de Contratos</span></strong>
            <p class="text-warning mt-1">{{licitacao?.contratosLicitacao?.length}}</p>
        </div>

    </div>
</div>

<div class="container mb-4 pb-3" *ngIf="licitacao?.dt_homologacao">
    <div class="row">
        <div class="col-sm-12">
            <h6 class="text-warning"><strong>Eventos</strong></h6>
        </div>
        <div class="container-timeline">
            <div class="col-sm-8 mt-3">
                <app-timeline [eventosTimeline]="getEventosTimeline ()"></app-timeline>
            </div>
        </div>
    </div>
</div>

<div class="container pb-4" *ngIf="licitacao?.participantesLicitacao?.length!=0">
    <div class="row">
        <div class="col-sm-12">
            <h6 class="text-warning"> <strong>Participantes</strong></h6>

            <div class="row">
                <div class="column" *ngFor="let participante of licitacao?.participantesLicitacao">
                    <div class=" custom-size d-flex align-content-end flex-wrap mt-2">
                        <div class="col-1 col-sm-1 mx-auto">
                            <div *ngIf="getGanhador (participante?.nu_cpfcnpj, licitacao?.contratosLicitacao)" class="col-sm-1">
                                <h6 class="mb-1"><span class="badge badge-success text-light">Ganhador</span></h6>
                            </div>
                            <div *ngIf="!getGanhador (participante?.nu_cpfcnpj, licitacao?.contratosLicitacao)" class="col-sm-1">
                                <h6 class="mb-1"><span class="badge badge-secondary text-light">Perdedor</span></h6>
                            </div>
                        </div>
                        <div class="col-8 col-1 col-sm-19">
                            <h6 class="custom-h6 text-warning text-capitalize">
                                {{participante?.no_fornecedor | formatNomeEmpresa}}</h6>
                            <small
                                class="text-secondary"><strong>{{participante?.nu_cpfcnpj | formatCpfCnpj}}</strong></small>
                        </div>
                    </div>

                    
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container" *ngIf="licitacao?.contratosLicitacao?.length!=0">
    <div class="row">
        <div class="col-sm-12">
            <h6 class="text-warning"> <strong>Contratos Originados</strong></h6>
            <app-lista-contratos [contratos]="licitacao?.contratosLicitacao"></app-lista-contratos>
        </div>
    </div>
</div>