<div class="secao-inicial view-container">
    <div class="container pt-5"></div>
    <div class="container custom-position-title">
        <div class="row">
            <div>
                <h2 class="text-info">
                    <a [routerLink]="['/home']">
                        <i class="fas fa-arrow-left arrow text-warning"></i>
                    </a>
                    O que é o Risco Contratual?
                </h2>
            </div>
        </div>
    </div>
    <div class="container pt-5"></div>
</div>

<div class="container mt-3 mb-4">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="text-warning">
                <section>
                    <p class="mb-2">
                        Medir o risco associado a algo ou alguém pode ser definido como estimar o grau de incerteza de que um determinado evento ocorra ou não. Por exemplo, quando alguém solicita um empréstimo a uma instituição bancária, esta realiza uma avaliação que resultará se o solicitante receberá ou não o valor a ser emprestado. Esta avaliação pode ser chamada de análise de risco ou análise de crédito, e pode conter informações como: o histórico do quão bom ou mau pagador o solicitante é, informações sobre seus bens, recebimentos e outras peculiaridades.     
                    </p>
                    <br/>
                    <p class="mb-2">
                        No exemplo acima é intuitivo entender o porquê das características usadas auxiliarem na associação entre alguém cujo histórico seja de mau pagador a um futuro problema ou prejuízo ao banco. Dessa maneira, a existência do risco, tal como sua intensidade, estão condicionadas a fatores específicos do domínio em questão. Isto é, caso desejemos aplicar a técnica em outros cenários, é necessário observar e investigar quais características deste cenário influenciam para o aumento ou diminuição do risco. 
                    </p>
                    <br/>
                    <p class="mb-2">
                        No Monitor Cidadão, enfrentamos o desafio de estimar o risco associado a contratos públicos. Para nós, o conceito de risco está associado a chance que um contrato possui de ser <strong>rescindido</strong>, <strong>paralisado</strong>, <strong>sustado</strong> ou <strong>impedido</strong>. E as características dos contratos, assim como do mau ou bom pagador acima, são construídas a partir do comportamento passado e dados cadastrais das empresas responsáveis pelos contratos.
                    </p>
                    <br/>

                    <section class="text-center mt-3 mb-4 bg-light sessao-light ">
                        <div class="row justify-content-md-center">
                          <div class="col col-lg-12">
                            <img src="assets/imgs/exemplo-risco.png" alt="Risco" width="100%">
                          </div>
                        </div>
                    </section>

                    <p class="mb-2">
                        Tomando como exemplo o cenário fictício acima, temos que Secretaria de Saúde de São Joãozinho contratou a empresa Seu José Empreendimentos para o fornecimento de equipamentos de saúde.                    
                    </p>
                    <br/>
                    <p class="mb-2">
                        Diante disso, dado o comportamento de Seu José Empreendimentos em sua atuação na administração pública, calculamos para as características desse contrato da saúde uma chance de 34% de rompimento.                    
                    </p>
                    <br/>
                    <p class="mb-2">
                        Os dados utilizados no Monitor Cidadão são provenientes do <a href="https://sagresonline.tce.pb.gov.br/">SAGRES</a>, <a href="https://tramita.tce.pb.gov.br/">Tramita</a> e <a href="https://receita.economia.gov.br/">Receita Federal</a>.
                    </p>
                    <br/>
                    <p class="mb-2">
                        Quer saber mais sobre quais modelos e métricas são utilizados? Veja <a href="https://analytics-ufcg.github.io/monitor-cidadao-dados/07-ModelagemContratosGerais.html">aqui</a>.   
                    </p>
                    <br/>
                </section>
            </div>
        </div>
    </div>
</div>