<ul class="horizontal-timeline">
  <li class="li" *ngFor="let evento of eventosTimeline">
    <div class="edge" [ngClass]="{'complete': evento?.completo}">
        <div class="info">
          <span>{{evento?.data | date: 'dd-MM-yyyy'}}</span>
          <span *ngIf="!evento?.id">{{evento?.descricao}}</span>
          <span class="description-clickable" *ngIf="evento?.id" [routerLink]="['/contrato/' + evento.id]">{{evento?.descricao}}</span>
          <span *ngIf="evento?.valor"><small class="text-secondary">
            {{ evento?.valor | currency: "R$"}}
          </small> </span> 
        </div>
    </div>
  </li>
</ul>
