@import url(https://fonts.googleapis.com/css?family=Dosis:500);

$color-success-node: #cc8e36;

.horizontal-timeline {
  list-style-type: none;
  display: flex;
  align-items: normal;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  font-family: 'Dosis', sans-serif;
}

.data-timeline {
  padding: 0px 40px;
  bottom: 14px;
  position: relative;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
}

.edge {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #d6dce0;
  position: relative;
  
  &:before {
    content: "";
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -12px;
    left: 42%;
  }
}

  .edge.complete {
    padding: 0px 20px;
    border-top: 2px solid $color-success-node;
    &:before {
      background-color: $color-success-node;
      border: none;
    }
  }

  .edge.secondary {
    padding: 0px 20px;
    border-top: 2px solid $color-success-node;
    &:before {
      background-color: white;
      width: 19px;
      height: 19px;
      top: -10px;
      border: 2px solid $color-success-node;
    }
  }

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.description {
  font-weight: 800;
}

.valor {
  position: relative;
  bottom: 4px;
}

.description-clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}