<div class="secao-inicial view-container">
    <div class="container pt-5"></div>
    <div class="container custom-position-title">
        <div class="row">
            <div>
                <h2 class="text-info">
                    <a [routerLink]="['/home']">
                        <i class="fas fa-arrow-left arrow text-warning"></i>
                    </a>
                    Gastos Públicos na Paraíba
                </h2>
            </div>
        </div>
    </div>
    <div class="container pt-5"></div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-10 offset-md-1 mt-3">
            <div class="text-warning">
                <section>
                    <p class="mb-1">
                    Despesa pública é o conjunto de gastos realizados pelos entes públicos para custear os serviços
                    públicos prestados à sociedade ou para a realização de investimentos.
                    As despesas públicas devem ser autorizadas pelo Poder Legislativo, por meio do ato administrativo
                    chamado orçamento público (<a href="https://pt.wikipedia.org/wiki/Despesa_p%C3%BAblica">Wikipedia</a>).
                    </p>
                    <p class="mb-1">
                    O entendimento desses gastos pode não ser trivial ou conhecido por uma grande parcela da população.
                    Nestas análises tentamos descomplicar o orçamento público, e também fornecer
                    uma visão de como o dinheiro do contribuinte é gasto no Estado da Paraíba.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="posts">
                
                <section class="post mb-3 mt-4">
                    <header class="post-header">
                        <h4 class="post-title"> <strong> Licitações e Contratos Paraibanos</strong> </h4>
                    </header>
                    <div class="container pt-3">
                        <div class="post-description">
                            <p>
                                Esta análise tem a finalidade explorar duas etapas no processo de gasto/compra na Administração Pública: a Licitação e o Contrato.
                            </p>
                            <a href="https://analytics-ufcg.github.io/monitor-cidadao/4-Descritivo-Licitacoes.html" target="_blank">Ver descritivo completo &gt;&gt;</a>
                        </div>
                    </div>
                </section>

                <section class="post mb-3 mt-4">
                    <header class="post-header">
                        <h4 class="post-title"> <strong>Contratos Vigentes</strong> </h4>
                    </header>
                    <div class="container pt-3">
                        <div class="post-description">
                            <p>
                                Esta análise traz informações relativas aos contratos, empenhos e licitações através dos contrados em andamento na Paraíba.
                            </p>
                            <a href="https://analytics-ufcg.github.io/monitor-cidadao/5-Contratos-Vigentes.html" target="_blank">Ver descritivo completo &gt;&gt;</a>
                        </div>
                    </div>
                </section>

                <section class="post mb-3 mt-4">
                    <header class="post-header">
                        <h4 class="post-title"> <strong>Fornecedores na Paraíba</strong> </h4>
                    </header>
                    <div class="container pt-3">
                        <div class="post-description">
                            <p>
                                Esta análise descreve características das pessoas físicas e jurídicas que fornecem bens ou serviço ao povo e também ao poder público no Estado.
                            </p>
                            <a href="https://analytics-ufcg.github.io/monitor-cidadao/06-Descritivo-Fornecedores.html" target="_blank">Ver descritivo completo &gt;&gt;</a>
                        </div>
                    </div>
                    
                </section>
                <div class="container pt-5"></div>
            </div>
        </div>
    </div>
</div>
