<div class="container lista-relatorios-container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="posts">
                <br>
                <h1> Análise Descritiva dos Dados da Paraíba </h1><br>
                <section class="post">
                    <header class="post-header">
                        <h4 class="post-title"> Licitações e Contratos Paraibanos </h4>
                    </header>

                    <div class="post-description">
                        <p>
                            Este relatório tem a finalidade de trazer luz sobre duas etapas desta execução na Administração Pública: a Licitação e o Contrato.              
                        </p>
                        <a class="nav-link" href="lista-relatorios/licitacoes">Ver descritivo completo &gt;&gt;</a>
                    </div>
                </section>
                <br>
                <section class="post">
                    <header class="post-header">
                        <h4 class="post-title"> Contratos Vigentes </h4>
                    </header>

                    <div class="post-description">
                        <p>
                            Neste relatório buscamos entender um pouco mais sobre a relação Licitação, Contrato, Empenho e suas características, através do subconjunto de contratos em andamento.                
                        </p>
                        <a class="nav-link" href="lista-relatorios/contratos">Ver descritivo completo &gt;&gt;</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
