/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
@import "assets/bootstrap/overhide";

body {
    background-color: white;
    font-family: "Rubik", sans-serif;
}

mark {
    font-weight: 900;
    background-color: transparent;
    padding: 0;
    color: #305061;
}

//Paginacao
.my-pagination .ngx-pagination .current {
    background: #1e4354;
}

.risk {
    white-space: nowrap;
    position: relative;
    top: 3px;
    padding: 0px;
    margin: 0px;
}