.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;

  @media (min-width: 576px) {
    height: 60vh;
    margin-top: 0;
  }
}

.view-container {
  background:white;

  @media (min-width: 576px) {
   background: #f6f8fb;
  }
}
