.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}

h1 {
    color: #f08856;
    font-weight: bold;
}

h5 {
    color: gray;
}

.mt-9 {
    margin-top: 9rem !important;
}
