<div class="view-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-lg-0 offset-md-1">
                <h1 class="text-info"><strong>Consulte os contratos da sua região</strong></h1>
                <p class="text-secondary mt-1">Consulte os contratos do seu município e acompanhe se o dinheiro do
                    contribuinte está sendo bem gasto.</p>
                <hr>
                <div class="w-100">
                    <app-busca-municipio></app-busca-municipio>
                </div>
            </div>
        </div>

    </div>
</div>